<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>实时公交查询</title>
	<script src="http://lib.sinaapp.com/js/jquery/1.7.2/jquery.min.js"></script>
	<!--  CDN 读取失败的时候从自己服务器提供 -->
	<script>
	if (!window.jQuery) {
		var script = document.createElement('script');
		script.src = "/js/jquery.min.js";
		document.body.appendChild(script);
	}
	</script>
</head>
<body>
	<h1>实时公交查询</h1>
	<!-- <form action="/bus/search" method="post">
		<input type="text" name="search" placeholder="请输入路线关键字">
		<button type="submit">搜索</button>
	</form> -->
	<div>
		<h2>根据线路或站点名称搜索</h2>
		<input type="text" id="search" placeholder="请输入路线或站点">
		<button id="searchNS">搜索</button>
		<p>公交路线：<span id="getByName"></span></p>
	</div>
	<div>
		<h2>根据路线ID与方向获取站点信息</h2>
		<label for="routeId">路线ID</label>
		<input type="text" id="routeId">
		<label for="direction">上下行方向</label>
		<input type="text" id="direction">
		<button id="searchStation">查询</button>
		<p>路线站点：<span id="routeStation"></span></p>
		<p>实时公交位置：<span id="runBus"></span></p>
		<label for="info">站点ID</label>
		<input type="text" id="info">
		<button id="getWaitTime">获取等待时间</button>
		<p>等待时间<span id="waitTime"></span></p>
	</div>
	<a href="/bus/rs?routeId=401">测试</a>
	<script>
		$(function(){
			// getByName 根据线路或站点搜索
			var routeName
			$("#search").change(function(){
				routeName = $(this).val()
			})		
			$("button#searchNS").click(function(){
				$.post("/bus/getByName", {name: routeName}, function(data){
					$("#getByName").text(data)
				})
			})

			// 根据RouteId与Direction获取路线站点信息与实时公交位置
			var routeId
			var direction
			$("#routeId").change(function(){
				routeId = $(this).val()
			})
			$("#direction").change(function(){
				direction = $(this).val()
			})	
			$("button#searchStation").click(function(){
				$.post("/bus/routeStation/getByRouteIdAndDirection", {routeId: routeId, direction: direction}, function(data){
					$("#routeStation").text(data)
				})
				$.post("/bus/runbus/getByRouteAndDirection", {routeId: routeId, direction: direction}, function(data){
					$("#runBus").text(data)
				})
			})

			// 根据线路站点id获取等待时间
			var routeStationId
			$("#info").change(function(){
				routeStationId = $(this).val()
			})		
			$("button#getWaitTime").click(function(){
				$.post("/bus/info/waitTime", {routeStationId: routeStationId}, function(data){
					$("#waitTime").text(data)
				})
			})
		})
	</script>
</body>
</html>